.hamburguerMenu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: auto;
	padding: 2.3rem 1rem 1rem 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	z-index: 50;

	img:hover {
		cursor: pointer;
	}

	@media (max-width: 1024px) {
		width: 100vw;
		height: auto;
		flex-direction: row;
		padding: 1.5rem 1.5rem;
	}
}

.footerLogo {
	@media (max-width: 1024px) {
		display: none;
	}
}
