.hamburguerMenu {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: auto;
	margin-left: 15px;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	z-index: 50;
	border: orange 1px solid;

	img {
		width: 40px;
		height: auto;
		cursor: pointer;
		border: yellow 1px solid;
	}
}
/*
.iconLogo {
	width: 900px;
	height: auto;
	font-size: 45px;
}

.hamburguerIcon {
	width: 35px;
	height: auto;
	font-size: 20px;
}
