.storySection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageWrapper {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
    transform-origin: center center;
    overflow: hidden;
    position: absolute;
    z-index: -20;
}

.imageWrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}