.storySection {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: inherit;
}

.title {
	font-family: var(--font-bluu);
	color: var(--text-secondary);
	display: block;
	font-size: 60px;
	font-weight: 500;
	margin: 0;
	line-height: 1;
}
.subtitle {
	font-family: var(--font-bluu);
	font-size: 24px;
	line-height: 1.2;
	margin-top: 16px;
	color: var(--text-inverse-light);
}
.link {
	font-family: var(--font-bluu);
}

.imageWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: -20;
	transform: scale(1.1);
	transform-origin: center left;
}

.imageWrapper img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.arrow::after {
	content: "";
	display: block;
	opacity: 0.2;
	width: 55px;
	height: 2px;
	background-color: var(--text-primary);
	margin-left: 8px;
}

.arrow::before {
	content: "";
	width: 0;
	opacity: 0.2;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 5px solid var(--text-primary);
	position: absolute;
	right: -2px;
}
