.heroSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	text-align: center;
	width: calc(100% - 300px);
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content h3 {
	font-family: var(--font-bluu);
	margin-top: 15px;
	color: var(--text-quarternary);
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
}

.title {
	font-family: var(--font-bluu);
	font-size: 80px;
	line-height: 1;
	font-weight: 600;
}

.lead {
	font-size: 18px;
	width: 60%;
	margin: 25px auto 0;
}

.videoWrapper {
	height: 100%;
	width: 100%;
	transform: scale(1.1);
	transform-origin: center center;
	overflow: hidden;
	position: absolute;
	z-index: -10;
}

.videoWrapper video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
